$footerBackgroundColor: #191919;
$menuBackgroundColor: #66a1d8;
$bottomBarBackgroundColor: #232323;

@font-face {
  font-family: myFirstFont;
  src: url('../../../fonts/fontawesome-webfont3e6e.woff');
}

/* Menu */
nav.menu {
  background-color: $menuBackgroundColor;
}

nav.menu div ul li a,
nav.menu .logo {
  color: #ffffff;
}

nav.menu div ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* Sub menu */
nav.sub-menu ul {
  flex-basis: 60%;
  justify-content: space-evenly;
}

nav.sub-menu ul li a {
  color: #000000;
}

/* filter */
div.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.filter-container input.search {
  width: 100%;
}

.filter-container button.search {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #f0ad4e;
  border: 0;
  margin-left: 5px;
  color: #ffffff;

  &:hover {
    background-color: #ed9c28;
  }
}

.filter-types-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.filter-types-container div.row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.filter-types-container div.row div.item {
  display: flex;
  background-color: #CFD8DC;
  color: #5f5f5f;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  justify-content: space-between;
  width: 250px;

  &:hover {
    background-color: #607D8B;
    color: #ffffff;
  }
}

div.filter-container div.main-settings-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  background-color: #F3F3F3;
  padding: 10px;
  margin-bottom: 10px;

  & > div span,
  & > div label {
    width: 200px;
    display: inline-block;
  }

  & > div:nth-last-child(-n+3) input {
    margin-left: 12.5rem;
    width: 300px;
  }
}

div.filter-container div.categories-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  background-color: #F3F3F3;
  padding: 10px;
  margin-bottom: 10px;

  & > h3 + div {
    height: 400px;
    overflow: auto;
  }

  & > div > ul {
    padding: 0;
    margin: 0 0 10px 0;
    display: flex;
  }

  & > div > ul > li {
    list-style: none;
    margin-right: 10px;
    cursor: pointer;
  }

  & > div > ul > li img {
    width: 140px;
    height: 120px;
  }

  & > div input[type='checkbox'] {
    margin-right: 5px;
  }
}

div.filter-container div.other-parameters-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  background-color: #F3F3F3;
  padding: 10px;
  margin-bottom: 10px;

  & > h3 ~ div {
    margin-top: 10px;
  }

  & > h3 ~ div label {
    margin-right: 10px;
  }

  & > h3 ~ div:last-child label {
    margin-left: 10px;
  }
}

div.filter-container div.values-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  background-color: #F3F3F3;
  padding: 10px;
  margin-bottom: 10px;

  & > h3 ~ div > label {
    width: 150px;
  }

  & > h3 ~ div {
    margin-top: 10px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

div.filter-container div.trading-date-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  background-color: #F3F3F3;
  padding: 10px;
  margin-bottom: 10px;

  & > h3 ~ div > label {
    width: 150px;
  }

  & > h3 ~ div {
    margin-top: 10px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* auctions */
div.auctions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.auctions-container div.item {
  background-color: #F7F5F4;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

div.auctions-container div.item .header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 5px;

  div > ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div > ul > li {
    list-style: none;
    margin-right: 15px;
  }

  div > ul > li a {
    display: flex;
  }

  span {
    margin-right: 10px;
  }
}

div.auctions-container div.item .content {
  display: flex;
  margin-top: 10px;
}

div.auctions-container div.item .content > div {
  margin: 5px;

  &:first-child {
    flex-basis: 20%;
  }

  &:nth-child(2) {
    flex-basis: 80%;

    p {
      font-size: 15px;
      font-family: myFirstFont;
    }
  }

  &:last-child {
    flex-basis: 15%;
  }
}

div.auctions-container div.item .footer > button {
  background-color: #ed9c28;
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  color: #ffffff;
}

div.auctions-container div.item .footer {
  display: flex;
  justify-content: flex-end;
}

div.login {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

/* bottom bar */
div.bottom-bar {
  background-color: $bottomBarBackgroundColor;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  padding: 10px;

  ul li {
    list-style: none;
  }

  ul li a {
    color: #ffffff;
    text-decoration: underline !important;
  }
}

footer {
  width: 100%;
  background-color: $footerBackgroundColor;
  display: flex !important;
  justify-content: space-around;
  align-items: center;

  & > div > p {
    margin: 0;
    color: #ffffff;
  }

  ul li a {
    color: #aaaaaa;

    &:hover {
      color: #ffffff;
      text-decoration: underline !important;
    }
  }
}