@-webkit-keyframes rotateLoading {
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotateLoading {
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes rotateLoading {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateLoading {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateDash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@-moz-keyframes rotateDash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@-o-keyframes rotateDash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@keyframes rotateDash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

.load {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
  background: #212121;
  z-index: 1000;

  + div {
    height: 100vh;
    overflow: hidden;
  }

  .material-loading {
    width: 56px;
    height: 56px;
    position: absolute;
    top: calc(50% - 28px);
    left: calc(50% - 28px);
    z-index: 10000;
    border-radius: 50%;
    padding: 3px;
    overflow: hidden;
    display: inline-block;
    background: #3a3939;
    @include boxShadow(0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12));

    svg {
      overflow: hidden;
      animation: rotateLoading 2s linear infinite;
      height: 50px;
      width: 50px;
      border-radius: 50%;

      circle {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: rotateDash 1.5s ease-in-out infinite;
        stroke-linecap: round;
        stroke: #4ce1b6;
      }
    }
  }
}
